@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\000032}}
#search-border {
  height: 2px;
  background-color: #e62d2d; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\000037}}
#search-main .search-item-box ul .item-box {
  float: left;
  display: inline-block;
  width: 230px;
  height: 280px;
  background-color: white;
  position: relative;
  padding-top: 20px;
  transition: all .6s ease-in-out 0s;
  -webkit-transition: all .5s ease-in-out 0s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000317}}
  #search-main .search-item-box ul .item-box .item-bg {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -296px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000328}}
  #search-main .search-item-box ul .item-box .cover {
    background: url("../img/sprite.png") no-repeat;
    background-position: -56px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000333}}
  #search-main .search-item-box ul .item-box .item-img {
    width: 180px;
    height: 180px;
    margin: 0 auto 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000337}}
    #search-main .search-item-box ul .item-box .item-img img {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000342}}
  #search-main .search-item-box ul .item-box .item-title {
    height: 18px;
    line-height: 18px;
    width: 210px;
    margin: 0 auto 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000350}}
    #search-main .search-item-box ul .item-box .item-title a {
      color: #333333;
      font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000356}}
  #search-main .search-item-box ul .item-box .item-price {
    width: 210px;
    height: 24px;
    font-size: 14px;
    color: #333333;
    margin: 0 auto 8px;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000363}}
    #search-main .search-item-box ul .item-box .item-price i {
      font-size: 14px;
      color: #e62d2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000367}}
    #search-main .search-item-box ul .item-box .item-price strong {
      font-size: 20px;
      color: #e62d2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000371}}
    #search-main .search-item-box ul .item-box .item-price span {
      display: inline-block;
      font-size: 12px;
      color: #999999;
      float: right;
      padding-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000380}}
  #search-main .search-item-box ul .item-box .item-action {
    width: 210px;
    margin: 0 auto;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000384}}
    #search-main .search-item-box ul .item-box .item-action a {
      width: 24px;
      height: 24px;
      display: inline-block;
      border: 1px solid #c4c4c4;
      color: #666666;
      font-size: 16px;
      float: left;
      text-align: center;
      line-height: 24px;
      font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\0000396}}
    #search-main .search-item-box ul .item-box .item-action input {
      width: 38px;
      height: 24px;
      line-height: 24px;
      font-size: 14px;
      border: none;
      border-top: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      text-align: center;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003107}}
    #search-main .search-item-box ul .item-box .item-action a:first-child {
      color: #C4C4C4; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003110}}
    #search-main .search-item-box ul .item-box .item-action a:last-child {
      width: 60px;
      height: 26px;
      line-height: 24px;
      background: #E62D2D;
      color: white;
      float: right;
      border: none;
      font-weight: normal; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003122}}
#search-main .search-item-box ul li:hover {
  transform: scale(1.04);
  -webkit-transform: scale(1.03);
  box-shadow: 0.4px 1.2px 2px grey; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003129}}
#search-main .sm-leimu h3, #search-main .sm-brand h3 {
  float: left;
  color: #999999;
  width: 80px;
  text-align: center;
  background-color: #F5F5F5; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003137}}
#search-main .sm-leimu div a, #search-main .sm-brand div a {
  color: #333333;
  display: inline-block;
  width: 70px;
  padding-left: 30px;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003144}}
#search-main .sm-leimu div a:hover, #search-main .sm-brand div a:hover {
  color: #e62d2d; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003151}}
#search-main {
  background-color: white;
  padding-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003156}}
  #search-main .sm-title {
    height: 18px;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 18px;
    font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003162}}
    #search-main .sm-title a {
      color: #999999;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003166}}
    #search-main .sm-title a:hover {
      color: #e62d2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003169}}
    #search-main .sm-title span {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../img/sprite.png") no-repeat;
      background-position: -16px 0;
      float: left;
      margin-top: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003180}}
  #search-main .sm-leimu {
    height: 40px;
    border: 1px solid #e6e6e6;
    line-height: 40px;
    font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003188}}
  #search-main .sm-brand {
    border: 1px solid #e6e6e6;
    border-top: none;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003195}}
    #search-main .sm-brand h3 {
      line-height: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003199}}
    #search-main .sm-brand div {
      padding-top: 7px;
      padding-bottom: 7px;
      width: 1030px;
      float: left;
      line-height: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003206}}
    #search-main .sm-brand .sm-more {
      padding-top: 10px;
      display: inline-block;
      color: #999999;
      font-size: 14px;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003213}}
    #search-main .sm-brand .sm-more-bg {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../img/sprite.png") no-repeat;
      background-position: 0 0;
      float: left;
      margin-top: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003222}}
    #search-main .sm-brand .sm-more-hover {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003229}}
  #search-main .sm-height {
    height: 92px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003233}}
  #search-main .sm-prices {
    height: 40px;
    background-color: whitesmoke;
    margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003242}}
  #search-main .search-item-box ul {
    height: 1240px;
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003246}}
    #search-main .search-item-box ul .item-box {
      margin-bottom: 10px;
      margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003250}}
    #search-main .search-item-box ul .item-box:nth-child(5n+1) {
      margin-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/search\.scss}line{font-family:\00003256}}
  #search-main .search-pages {
    height: 40px;
    background: blue; }

/*# sourceMappingURL=search.css.map */
