@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\000038}}
#special .sp-slid .item-box, #categories .category .c-right .item-box {
  float: left;
  display: inline-block;
  width: 230px;
  height: 280px;
  background-color: white;
  position: relative;
  padding-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000316}}
  #special .sp-slid .item-box .item-bg, #categories .category .c-right .item-box .item-bg {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url("../img/sprite.png") no-repeat;
    background-position: -296px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000326}}
  #special .sp-slid .item-box a.active, #categories .category .c-right .item-box a.active {
    background: url("../img/sprite.png") no-repeat;
    background-position: -56px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000331}}
  #special .sp-slid .item-box .item-img, #categories .category .c-right .item-box .item-img {
    width: 180px;
    height: 180px;
    margin: 0 auto 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000335}}
    #special .sp-slid .item-box .item-img img, #categories .category .c-right .item-box .item-img img {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000340}}
  #special .sp-slid .item-box .item-title, #categories .category .c-right .item-box .item-title {
    height: 18px;
    line-height: 18px;
    width: 210px;
    margin: 0 auto 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000348}}
    #special .sp-slid .item-box .item-title a, #categories .category .c-right .item-box .item-title a {
      color: #333333;
      font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000354}}
  #special .sp-slid .item-box .item-price, #categories .category .c-right .item-box .item-price {
    width: 210px;
    height: 24px;
    font-size: 14px;
    color: #333333;
    margin: 0 auto 8px;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000361}}
    #special .sp-slid .item-box .item-price i, #categories .category .c-right .item-box .item-price i {
      font-size: 14px;
      color: #e62d2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000365}}
    #special .sp-slid .item-box .item-price strong, #categories .category .c-right .item-box .item-price strong {
      font-size: 20px;
      color: #e62d2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000369}}
    #special .sp-slid .item-box .item-price span, #categories .category .c-right .item-box .item-price span {
      display: inline-block;
      font-size: 12px;
      color: #999999;
      float: right;
      padding-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000378}}
  #special .sp-slid .item-box .item-action, #categories .category .c-right .item-box .item-action {
    width: 210px;
    margin: 0 auto;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000382}}
    #special .sp-slid .item-box .item-action a, #categories .category .c-right .item-box .item-action a {
      width: 24px;
      height: 24px;
      display: inline-block;
      border: 1px solid #c4c4c4;
      color: #666666;
      font-size: 8px;
      float: left;
      text-align: center;
      line-height: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000393}}
    #special .sp-slid .item-box .item-action input, #categories .category .c-right .item-box .item-action input {
      width: 38px;
      height: 24px;
      line-height: 24px;
      font-size: 14px;
      border: none;
      border-top: 1px solid #c4c4c4;
      border-bottom: 1px solid #c4c4c4;
      text-align: center;
      float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003104}}
    #special .sp-slid .item-box .item-action a:first-child, #categories .category .c-right .item-box .item-action a:first-child {
      color: #C4C4C4; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003107}}
    #special .sp-slid .item-box .item-action a:last-child, #categories .category .c-right .item-box .item-action a:last-child {
      width: 60px;
      height: 26px;
      line-height: 24px;
      background: #E62D2D;
      font-size: 16px;
      color: white;
      float: right;
      border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003122}}
body {
  font-weight: Regular;
  font-family: PingFang-SC;
  background-color: #f2f2f2;
  overflow-x: hidden;
  min-width: 1190px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003131}}
.wrapper {
  background-color: inherit;
  width: 1190px;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003138}}
#header {
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003143}}
  #header .h-left {
    float: left;
    padding-left: 0;
    color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003147}}
    #header .h-left a {
      color: #666666;
      padding-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003151}}
    #header .h-left a.active {
      color: #e62d2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003155}}
  #header .h-right {
    float: right;
    padding-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003158}}
    #header .h-right ul {
      letter-spacing: -8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003161}}
    #header .h-right li {
      display: inline-block;
      letter-spacing: normal;
      padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003165}}
      #header .h-right li a {
        color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003173}}
#search {
  height: 150px;
  background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003176}}
  #search .box {
    height: 150px;
    margin: 0 auto;
    margin-bottom: -25px;
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003181}}
    #search .box .logo {
      width: 193px;
      height: 76px;
      margin-top: 20px;
      display: flex;
      align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003187}}
      #search .box .logo .logo-img {
        width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003189}}
        #search .box .logo .logo-img img {
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003193}}
      #search .box .logo .logo-font {
        width: 103px;
        height: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003196}}
        #search .box .logo .logo-font img {
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003202}}
    #search .box .form {
      width: 550px;
      height: 40px;
      margin-left: 97px;
      margin-top: 47px;
      border: 2px solid #e62d2d;
      letter-spacing: -8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003209}}
      #search .box .form .text {
        width: 458px;
        border: none;
        padding-left: 12px;
        font-size: 12px;
        color: #999999;
        line-height: 16px;
        height: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003218}}
      #search .box .form .button {
        height: 40px;
        width: 80px;
        letter-spacing: normal;
        background-color: #e62d2d;
        border: none;
        font-size: 18px;
        color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003229}}
    #search .box .cart {
      margin-left: 50px;
      margin-top: 47px;
      width: 150px;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003236}}
      #search .box .cart a {
        display: inline-block;
        background: url(../img/sprite.png) no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003241}}
      #search .box .cart p {
        display: inline-block;
        font-size: 14px;
        color: #333333;
        line-height: 40px;
        height: 40px;
        width: 50px;
        margin-left: 52px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003251}}
      #search .box .cart span {
        font-size: 14px;
        color: #e62d2d;
        display: inline-block;
        height: 14px;
        width: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003258}}
      #search .box .cart i {
        width: 1px;
        height: 13px;
        background: rgba(0, 0, 0, 0.2);
        display: inline-block;
        position: absolute;
        right: 49px;
        top: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003268}}
      #search .box .cart .cart-bg1 {
        background-position: -32px 0;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 22px;
        top: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003276}}
      #search .box .cart .cart-bg2 {
        width: 16px;
        height: 16px;
        background-position: 0 0;
        position: absolute;
        bottom: 11px;
        right: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003287}}
    #search .box .img {
      width: 70px;
      height: 70px;
      margin-top: 31px;
      margin-left: 56px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003292}}
      #search .box .img img {
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003298}}
  #search .bar {
    width: 1190px;
    padding-left: 230px;
    padding-right: 256px;
    height: 20px;
    line-height: 20px;
    font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003306}}
    #search .bar ul {
      letter-spacing: -8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003308}}
      #search .bar ul li {
        letter-spacing: normal;
        display: inline-block;
        padding-left: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003312}}
        #search .bar ul li a {
          color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003315}}
        #search .bar ul li a:hover {
          color: #ff0000;
          background-color: #f2f2f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003324}}
#slider {
  height: 330px;
  margin-bottom: 10px;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003328}}
  #slider .mulu {
    width: 230px;
    height: 360px;
    margin-top: -30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003332}}
    #slider .mulu h2 {
      height: 30px;
      background: #e62d2d;
      font-size: 16px;
      line-height: 30px;
      color: white;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003340}}
    #slider .mulu .list {
      background-color: white;
      height: 324px;
      padding-top: 6px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003344}}
      #slider .mulu .list div {
        height: 36px;
        line-height: 36px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003347}}
        #slider .mulu .list div a {
          font-size: 14px;
          padding-right: 12px;
          color: #999999; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003352}}
        #slider .mulu .list div a:first-child {
          display: inline-block;
          width: 56px;
          color: #333333;
          padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003362}}
  #slider .lunbo {
    width: 700px;
    height: 320px;
    margin: 10px 10px 0 10px;
    overflow: hidden;
    position: relative;
    background-size: 100% 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003369}}
    #slider .lunbo img {
      float: left;
      width: 20%;
      height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003375}}
    #slider .lunbo .list-li {
      position: absolute;
      bottom: 10px;
      right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003380}}
    #slider .lunbo .list-li li {
      float: left;
      width: 20px;
      height: 20px;
      background-color: rgba(0, 0, 0, 0.8);
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      margin-right: 10px;
      color: #fff;
      font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003404}}
    #slider .lunbo ul {
      list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003408}}
    #slider .lunbo .box2 {
      width: 3500px;
      height: 320px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003414}}
  #slider .ads {
    width: 240px;
    height: 320px;
    margin-top: 10px;
    background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003419}}
    #slider .ads .ad1 {
      height: 63px;
      display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003422}}
      #slider .ads .ad1 .ad1-img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin: 14px 10px 5px 10px;
        background-color: #e0e0e0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003429}}
      #slider .ads .ad1 .ad1-text {
        height: 37px;
        flex: 1;
        color: #999999;
        padding-top: 14px;
        padding-bottom: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003435}}
        #slider .ads .ad1 .ad1-text h3 {
          font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003438}}
        #slider .ads .ad1 .ad1-text p {
          font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003442}}
      #slider .ads .ad1 button {
        width: 50px;
        height: 22px;
        font-size: 14px;
        color: white;
        background-color: #e62d2d;
        margin-right: 10px;
        margin-top: 21px;
        border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003453}}
    #slider .ads .ads-ul {
      height: 42px;
      text-align: center;
      display: flex;
      justify-content: space-around;
      padding-bottom: 13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003459}}
      #slider .ads .ads-ul li {
        display: inline-block;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003462}}
        #slider .ads .ads-ul li h3 {
          font-size: 16px;
          color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003466}}
        #slider .ads .ads-ul li a {
          font-size: 12px;
          color: #999999; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003475}}
    #slider .ads .ad2 {
      height: 75px;
      box-shadow: 0 0 0 1px #f2f2f2;
      padding-top: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003479}}
      #slider .ads .ad2 ul {
        height: 60px;
        text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003482}}
        #slider .ads .ad2 ul li {
          display: inline-block;
          padding: 0 14px 0 14px;
          float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003486}}
          #slider .ads .ad2 ul li a {
            background: url(../img/sprite.png) no-repeat;
            display: block;
            width: 48px;
            padding-top: 44px;
            font-size: 12px;
            color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003494}}
          #slider .ads .ad2 ul li .ad-bg1 {
            background-position: -149px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003497}}
          #slider .ads .ad2 ul li .ad-bg2 {
            background-position: -245px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003500}}
          #slider .ads .ad2 ul li .ad-bg3 {
            background-position: -197px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003507}}
    #slider .ads .ad3 {
      height: 98px;
      box-shadow: 0 0 0 1px #f2f2f2;
      padding-top: 12px;
      padding-left: 10px;
      width: 230px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003513}}
      #slider .ads .ad3 .ad-t {
        height: 20px;
        line-height: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003516}}
        #slider .ads .ad3 .ad-t h3 {
          font-size: 16px;
          color: #333333;
          display: inline-block;
          margin-right: 148px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003522}}
        #slider .ads .ad3 .ad-t a {
          display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003525}}
        #slider .ads .ad3 .ad-t .gengduo {
          font-size: 14px;
          color: #999999; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003529}}
        #slider .ads .ad3 .ad-t .ad3-a {
          width: 16px;
          height: 16px;
          background: url(../img/sprite.png) no-repeat;
          background-position: -16px 0;
          margin-bottom: -2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003538}}
      #slider .ads .ad3 .ad-b {
        height: 70px;
        padding-top: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003541}}
        #slider .ads .ad3 .ad-b a {
          font-size: 12px;
          color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003545}}
        #slider .ads .ad3 .ad-b a:hover {
          text-decoration: underline;
          color: #ff0000; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003558}}
#special {
  height: 300px;
  margin-bottom: 30px;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003562}}
  #special .sp-left {
    width: 230px;
    height: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003565}}
    #special .sp-left img {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003570}}
  #special .sp-slid {
    height: 300px;
    flex: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003573}}
    #special .sp-slid :hover {
      transform: translateZ(1px) scale(1.03); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003577}}
    #special .sp-slid .item-box {
      transform-style: preserve-3d;
      transition: 0.5s;
      box-shadow: -1px 0 0 0 #f2f2f2 inset;
      padding-left: 5px;
      padding-right: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003696}}
  #special .sp-right {
    width: 240px;
    height: 300px;
    background-color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003703}}
#categories {
  margin-bottom: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003705}}
  #categories .category {
    height: 610px;
    margin-bottom: 30px;
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003709}}
    #categories .category .c-left {
      width: 230px;
      height: 610px;
      background-color: #96D3FA; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003714}}
      #categories .category .c-left .left-t {
        width: 230px;
        height: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003719}}
      #categories .category .c-left .left-b {
        width: 230px;
        height: 310px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003722}}
        #categories .category .c-left .left-b img {
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003727}}
    #categories .category .c-right {
      flex: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003730}}
      #categories .category .c-right .item-box {
        margin-left: 10px;
        margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003738}}
#scrollTop {
  position: fixed;
  top: 130px;
  left: 50%;
  width: 80px;
  height: 350px;
  margin-left: -677px;
  background-color: #F2F2F2;
  z-index: 7; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003747}}
  #scrollTop .scr-li {
    height: 30px;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 30px;
    text-align: center;
    margin-bottom: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003754}}
    #scrollTop .scr-li a {
      font-size: 14px;
      color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003758}}
    #scrollTop .scr-li i {
      font-size: 11px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003762}}
  #scrollTop .selected {
    background-color: #e62d2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003765}}
  #scrollTop .toTop {
    background-color: rgba(0, 0, 0, 0.2); }

/*鏍峰紡閲嶇疆-reset*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003776}}
body, h1, h2, h3, p, dl, dd, ul, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003780}}
em, i {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003783}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003786}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003789}}
a.active {
  color: #e62d2d; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003792}}
img {
  border: none;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003796}}
table {
  border-collapse: collapse; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003799}}
input, textarea {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003802}}
textarea {
  resize: none;
  overflow: auto; }

/*# sourceMappingURL=style.css.map */
