$bgColor:rgba(242,242,242,1);
$width:1190px;
$font:12px;
$B:1px solid black;
$color:rgba(255,255,255,1);

%item {
  .item-box {
    float:left;
    display:inline-block;
    width:230px;
    height:280px;
    background-color:$color;
    position:relative;
    padding-top:20px;
    transition:all .6s ease-in-out 0s;
    -webkit-transition:all .6s ease-in-out 0s;
    .item-bg {
      display:inline-block;
      width:24px;
      height:24px;
      position:absolute;
      top:10px;
      right:10px;
      background:url("../img/sprite.png") no-repeat;
      background-position:-296px 0;
    }
    a.active {
      background:url('../img/sprite.png') no-repeat;
      background-position:-56px 0;
    }

    .item-img {
      width:180px;
      height:180px;
      margin:0 auto 8px;
      img {
        width:100%;
      }
    }

    .item-title {
      height:18px;
      line-height:18px;
      width:210px;
      margin:0 auto 2px;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;
      a {
        color:rgba(51,51,51,1);
        font-size:14px;
      }
    }

    .item-price {
      width:210px;
      height:24px;
      font-size:14px;
      color:rgba(51,51,51,1);
      margin:0 auto 8px;
      overflow:hidden;
      i {
        font-size:14px;
        color:rgba(230,45,45,1);
      }
      strong {
        font-size:20px;
        color:rgba(230,45,45,1);
      }
      span {
        display:inline-block;
        font-size:12px;
        color:rgba(153,153,153,1);
        float:right;
        padding-top:5px;
      }
    }

    .item-action {
      width:210px;
      margin:0 auto;
      overflow:hidden;
      a {
        width:24px;
        height:24px;
        display:inline-block;
        border:1px solid rgba(196,196,196,1);
        color:#666666;
        font-size:8px;
        float:left;
        text-align:center;
        line-height:24px;
      }
      input {
        width:38px;
        height:24px;
        line-height:24px;
        font-size:14px;
        border:none;
        border-top:1px solid rgba(196,196,196,1);
        border-bottom:1px solid rgba(196,196,196,1);
        text-align:center;
        float:left;
      }
      a:first-child {
        color:#C4C4C4;
      }
      a:last-child {
        width:60px;
        height:26px;
        line-height:24px;
        background:#E62D2D;
        font-size:16px;
        color:$color;
        float:right;
        border:none;
      }
    }
  }
    li:hover {
      transform:scale(1.04);
      -webkit-transform:scale(1.03);
      box-shadow: 0.4px 1.2px 2px grey;
    }
}


  body {
    font-weight: Regular;
    font-family: PingFang-SC;
    background-color: $bgColor;
    overflow-x: hidden;
    min-width:1190px;
  }


  .wrapper {
    background-color:inherit;
    width:$width;
    margin:0 auto;
  }


  #header {
    height:30px;
    font-size:12px;
    text-align:center;
    line-height:30px;
    .h-left {
      float:left;
      padding-left:0;
      color:rgba(102,102,102,1);
      a {
        color:rgba(102,102,102,1);
        padding-right:20px;
      }
      a.active {
        color:rgba(230,45,45,1);
      }
    }
    .h-right {
      float:right;
      padding-right:0;
      ul {
        letter-spacing:-8px;
      }
      li {
        display:inline-block;
        letter-spacing:normal;
        padding-left:20px;
        a {
          color:rgba(102,102,102,1);

        }
      }
    }
  }

  #search {
    height:150px;
    background-color: $color;
    .box {
      height: 150px;
      margin: 0 auto;
      margin-bottom: -25px;
      display: flex;
      .logo {
        width: 193px;
        height: 76px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        .logo-img {
          width: 90px;
          img {
            width: 100%;
          }
        }
        .logo-font {
          width: 103px;
          height: 25px;
          img {
            width: 100%;
          }
        }
      }

      .form {
        width: 550px;
        height: 40px;
        margin-left: 97px;
        margin-top: 47px;
        border: 2px solid rgba(230, 45, 45, 1);
        letter-spacing: -8px;
        .text {
          width: 458px;
          border: none;
          padding-left: 12px;
          font-size: 12px;
          color: rgba(153, 153, 153, 1);
          line-height: 16px;
          height: 16px;
        }
        .button {
          height: 40px;
          width: 80px;
          letter-spacing: normal;
          background-color: rgba(230, 45, 45, 1);
          border: none;
          font-size: 18px;
          color: $color;
        }
      }

      .cart {
        margin-left: 50px;
        margin-top: 47px;
        width: 150px;
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        position: relative;
        a {
          display: inline-block;
          background: url(../img/sprite.png) no-repeat;
        }

        p {
          display: inline-block;
          font-size: 14px;
          color: rgba(51, 51, 51, 1);
          line-height: 40px;
          height: 40px;
          width: 50px;
          margin-left: 52px;
        }

        span {
          font-size: 14px;
          color: rgba(230, 45, 45, 1);
          display: inline-block;
          height: 14px;
          width: 17px;
        }
        i {
          width: 1px;
          height: 13px;
          background: rgba(0, 0, 0, 0.2);
          display: inline-block;
          position: absolute;
          right: 49px;
          top: 14px;
        }

        .cart-bg1 {
          background-position: -32px 0;
          width: 24px;
          height: 24px;
          position: absolute;
          left: 22px;
          top: 7px;
        }
        .cart-bg2 {
          width: 16px;
          height: 16px;
          background-position: 0 0;
          position: absolute;
          bottom: 11px;
          right: 8px;
        }

      }

      .img {
        width: 70px;
        height: 70px;
        margin-top: 31px;
        margin-left: 56px;
        img {
          width: 100%;
        }
      }
    }

    .bar {
      width: $width;
      padding-left: 230px;
      padding-right: 256px;
      height: 20px;
      line-height: 20px;
      font-size: 16px;

      ul {
        letter-spacing: -8px;
        li {
          letter-spacing: normal;
          display: inline-block;
          padding-left: 30px;
          a {
            color: rgba(51, 51, 51, 1);
          }
          a:hover {
            color: #ff0000;
            background-color: #f2f2f2;
          }
        }
      }
    }
  }

  #slider {
    height: 330px;
    margin-bottom: 10px;
    display: flex;
    .mulu {
      width: 230px;
      height: 360px;
      margin-top: -30px;
      h2 {
        height: 30px;
        background: rgba(230, 45, 45, 1);
        font-size: 16px;
        line-height: 30px;
        color: $color;
        text-align: center;
      }
      .list {
        background-color: $color;
        height: 324px;
        padding-top: 6px;
        div {
          height: 36px;
          line-height: 36px;
          a {
            font-size: 14px;
            padding-right: 12px;
            color: rgba(153, 153, 153, 1);
          }
          a:first-child {
            display: inline-block;
            width: 56px;
            color: rgba(51, 51, 51, 1);
            padding-left: 20px;
          }
        }
      }
    }

    .lunbo {
      width: 700px;
      height: 320px;
      margin: 10px 10px 0 10px;
      overflow: hidden;
      position: relative;
      background-size: 100% 100%;
      img {
        float: left;
        width: 20%;
        height: 100%;
      }

      .list-li {
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
      .list-li li {
        float: left;
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        margin-right: 10px;
        color: #fff;
        font-size: 14px;
      }

      .box2 {
        width: 3500px;
        height: 320px;
      }
    }

    .ads {
      width: 240px;
      height: 320px;
      margin-top: 10px;
      background-color: $color;
      .ad1 {
        height: 63px;
        display: flex;
        .ad1-img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          margin: 14px 10px 5px 10px;
          background-color: rgba(224, 224, 224, 1);
        }
        .ad1-text {
          height: 37px;
          flex: 1;
          color: rgba(153, 153, 153, 1);
          padding-top: 14px;
          padding-bottom: 4px;
          h3 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
        button {
          width: 50px;
          height: 22px;
          font-size: 14px;
          color: $color;
          background-color: rgba(230, 45, 45, 1);
          margin-right: 10px;
          margin-top: 21px;
          border: none;
        }
      }
      .ads-ul {
        height: 42px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding-bottom: 13px;
        li {
          display: inline-block;
          float:left;
          h3 {
            font-size: 16px;
            color: rgba(51, 51, 51, 1);
          }
          a {
            font-size: 12px;
            color: rgba(153, 153, 153, 1);
          }
        }
      }



      .ad2 {
        height: 75px;
        box-shadow: 0 0 0 1px rgba(242, 242, 242, 1);
        padding-top:17px;
        width:240px;
        ul {
          height:60px;
          text-align:center;
          margin:0 auto;
          width:228px;
          li {
            display:inline-block;
            padding:0 14px 0 14px;
            float:left;
            a {
              background:url(../img/sprite.png) no-repeat;
              display:block;
              width:48px;
              padding-top:44px;
              font-size:12px;
              color:rgba(102,102,102,1);
            }
            .ad-bg1 {
              background-position:-149px 0;
            }
            .ad-bg2 {
              background-position:-245px 0;
            }
            .ad-bg3 {
              background-position:-197px 0;
            }
          }
        }
      }

      .ad3 {
        height: 98px;
        box-shadow: 0 0 0 1px rgba(242, 242, 242, 1);
        padding-top:12px;
        padding-left:10px;
        width:230px;
        .ad-t {
              height:20px;
              line-height:20px;
              overflow:hidden;
              width:223px;
              padding-right:7px;
          h3 {
            font-size:16px;
            color:rgba(51,51,51,1);
            display:inline-block;

          }
          a {
            display:inline-block;
          }
          .gengduo {
            font-size:14px;
            color:rgba(153,153,153,1);
            float:right;
            i {
              display:inline-block;
              width:16px;
              height:16px;
              background:url(../img/sprite.png) no-repeat;
              background-position:-16px 0;
              margin-bottom:-3px;
            }
          }

        }

        .ad-b {
          height:70px;
          padding-top:8px;
          a {
            font-size:12px;
            color:rgba(102,102,102,1);
          }
            a:hover {
              text-decoration:underline;
              color:#ff0000;
            }
        }
      }
    }
  }





  #special {
      height:300px;
      margin-bottom:30px;
      display:flex;
      .sp-left {
        width:230px;
        height:300px;
        img {
          width:100%;
        }
      }

      .sp-slid {
        height:300px;
        flex:1;
        @extend %item;
        .item-box {
          box-shadow:-1px 0 0 0 $bgColor inset;
          padding-left:5px;
          padding-right:5px;
        }
      }

      .sp-right {
        width:240px;
        height:300px;
        background-color:$color;
        .r-img {
          width:240px;
          height:240px;
          img {
            width:100%;
          }
        }
        .r-title {
          width:240px;
          height:60px;
          background:url("../img/home_bg_yushou@2x.png") no-repeat;
        }
      }

  }

  #categories {
    margin-bottom:120px;
    .category {
      height:610px;
      margin-bottom:30px;
      display:flex;
      .c-left {
        width:230px;
        height:610px;
        background-color:#96D3FA;
        .left-t {
          width:210px;
          height:264px;
          padding-top:36px;
          padding-left:20px;
          .ca-title {
            height:44px;
            padding-right:20px;
            width:190px;
            line-height:44px;
            a {
              color:$color;
              font-family:PingFang-SC-Medium;
              font-size:36px;
            }
            .i-bg {
              display:inline-block;
              width:32px;
              height:32px;
              background:url("../img/sprite.png") no-repeat;
              background-position:-81px 0;
              margin-left:10px;
              margin-bottom:-3px;
              text-align:center;
            }
          }
          .ca-list {
              overflow:hidden;
              height:204px;
              padding-top:16px;
              li {
                float:left;
                display:inline-block;
                width:50px;
                height:50px;
                border-radius:50%;
                background-color:$color;
                text-align:center;
                line-height:50px;
                margin-right:20px;
                margin-bottom:20px;
                a {
                  font-size:12px;
                  color:rgba(102,102,102,1);
                }
              }
          }
        }

        .left-b {
          width:230px;
          height:310px;
          img {
            width:100%;
          }
        }
      }
      .c-right {
        flex:1;
        @extend %item;
        .item-box {
          margin-left:10px;
          margin-bottom:10px;
        }
      }
  }
  }

#scrollTop {
  position:fixed;
  top:130px;
  left:50%;
  width:80px;
  height:350px;
  margin-left:-677px;
  background-color:#F2F2F2;
  z-index:7;
  .scr-li {
    height:30px;
    width:80px;
    background-color:rgba(0,0,0,0.4);
    line-height:30px;
    text-align:center;
    margin-bottom:2px;
    a {
      font-size:14px;
      color:$color;
    }
    i {
      font-size:11px;
    }
  }
  .selected {
    background-color:rgba(230,45,45,1);
  }
  .toTop {
    background-color:rgba(0,0,0,0.2);
  }
}






/*样式重置-reset*/
body,h1,h2,h3,p,dl,dd,ul,ol,form,input,textarea,th,td,select {
  margin:0;
  padding:0;
}
em,i{
  font-style:normal;
}
li {
  list-style:none;
}
a {
  text-decoration:none;
}
a.active {
  color:rgba(230,45,45,1);
}
img {
  border:none;
  vertical-align:top;
}
table {
  border-collapse:collapse;
}
input,textarea {
  outline:none;
}
textarea {
  resize:none;
  overflow:auto;
}
  //#header {
  //  height: 30px;
  //  .wrapper {
  //    display:flex;
  //    line-height: 30px;
  //    font-size: $font;
  //    font-family: PingFang-SC;
  //    font-weight: Regular;
  //    color: rgba(0, 0, 0, 0.5);
  //
  //    .h-left {
  //      padding-left: 120px;
  //      padding-right: 34px;
  //    }
  //
  //    .h-user {
  //      span {
  //        color:rgba(230,45,45,1);
  //      }
  //      p {
  //        display:inline-block;
  //        float:right;
  //        padding-left:10px;
  //      }
  //    }
  //
  //    .h-right {
  //      position:absolute;
  //      right:130px;
  //      ul {
  //        padding: 0;
  //        margin: 0;
  //        font-size: 0;
  //        li {
  //          padding-left: 20px;
  //          display: inline-block;
  //          font-size:$font;
  //        }
  //      }
  //    }
  //  }
  //}
  //
  //#search {
  //    height:150px;
  //    background-color:rgba(255,255,255,1);
  //    .wrapper {
  //        font-size:0;
  //        height:150px;
  //        background:grey;
  //        div {
  //          display:inline-block;
  //        }
  //        .s-left {
  //          width:193px;
  //          height:76px;
  //          background:yellow;
  //
  //        }
  //        .s-input {
  //          width:550px;
  //          height:40px;
  //          border:2px solid rgba(230,45,45,1);
  //
  //        }
  //        .s-cart {
  //          width:150px;
  //          height:40px;
  //          border:1px solid rgba(0,0,0,0.2);
  //
  //        }
  //        .s-pr {
  //          width:70px;
  //          height:70px;
  //
  //          background:red;
  //        }
  //
  //        .s-bottom {
  //          position:absolute;
  //          bottom:5px;
  //          li {
  //            display: inline-block;
  //            font-size:16px;
  //          }
  //        }
  //    }
  //
  //
  //}
  //
  //#slider {
  //    height:330px;
  //    .mulu {
  //        height:360px;
  //        width:230px;
  //        border:1px solid black;
  //        position:absolute;
  //        top:-30px;
  //        left:120px;
  //    }
  //    .lunbo {
  //        position:absolute;
  //        height:320px;
  //        width:700px;
  //        border:1px solid black;
  //        margin:10px;
  //        left:350px;
  //    }
  //    .ads {
  //        height:320px;
  //        width:240px;
  //        border:1px solid black;
  //        position:absolute;
  //        right:130px;
  //        margin:10px 0;
  //    }
  //}

