@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\000036}}
body {
  font-weight: Regular;
  font-family: PingFang-SC;
  background-color: #f2f2f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000313}}
.wrapper {
  background-color: inherit;
  width: 1190px;
  margin: 0 auto;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000320}}
#header {
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000325}}
  #header .h-left {
    float: left;
    padding-left: 0;
    color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000329}}
    #header .h-left a {
      color: #666666;
      padding-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000333}}
    #header .h-left .active {
      color: #e62d2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000337}}
  #header .h-right {
    float: right;
    padding-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000340}}
    #header .h-right ul {
      letter-spacing: -8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000343}}
    #header .h-right li {
      display: inline-block;
      letter-spacing: normal;
      padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000347}}
      #header .h-right li a {
        color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000356}}
#search {
  height: 150px;
  background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000359}}
  #search .box {
    height: 150px;
    width: 1190px;
    margin: 0 auto;
    margin-bottom: -25px;
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000365}}
    #search .box .logo {
      width: 193px;
      height: 76px;
      margin-top: 20px;
      display: flex;
      align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000371}}
      #search .box .logo .logo-img {
        width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000373}}
        #search .box .logo .logo-img img {
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000377}}
      #search .box .logo .logo-font {
        width: 103px;
        height: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000380}}
        #search .box .logo .logo-font img {
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000386}}
    #search .box .form {
      width: 550px;
      height: 40px;
      margin-left: 97px;
      margin-top: 47px;
      border: 2px solid #e62d2d;
      letter-spacing: -8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000393}}
      #search .box .form .text {
        width: 458px;
        border: none;
        padding-left: 12px;
        font-size: 12px;
        color: #999999;
        line-height: 16px;
        height: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003102}}
      #search .box .form .button {
        height: 40px;
        width: 80px;
        letter-spacing: normal;
        background-color: #e62d2d;
        border: none;
        font-size: 18px;
        color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003113}}
    #search .box .cart {
      margin-left: 50px;
      margin-top: 47px;
      width: 150px;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003120}}
      #search .box .cart a {
        display: inline-block;
        background: url(../img/sprite.png) no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003125}}
      #search .box .cart p {
        display: inline-block;
        font-size: 14px;
        color: #333333;
        line-height: 40px;
        height: 40px;
        width: 50px;
        margin-left: 52px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003135}}
      #search .box .cart span {
        font-size: 14px;
        color: #e62d2d;
        display: inline-block;
        height: 14px;
        width: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003142}}
      #search .box .cart i {
        width: 1px;
        height: 13px;
        background: rgba(0, 0, 0, 0.2);
        display: inline-block;
        position: absolute;
        right: 49px;
        top: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003152}}
      #search .box .cart .cart-bg1 {
        background-position: -32px 0;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 22px;
        top: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003160}}
      #search .box .cart .cart-bg2 {
        width: 16px;
        height: 16px;
        background-position: 0 0;
        position: absolute;
        bottom: 11px;
        right: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003171}}
    #search .box .img {
      width: 70px;
      height: 70px;
      margin-top: 31px;
      margin-left: 56px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003176}}
      #search .box .img img {
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003182}}
  #search .bar {
    width: 1190px;
    padding-left: 230px;
    padding-right: 256px;
    height: 20px;
    line-height: 20px;
    font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003190}}
    #search .bar ul {
      letter-spacing: -8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003192}}
      #search .bar ul li {
        letter-spacing: normal;
        display: inline-block;
        padding-left: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003196}}
        #search .bar ul li a {
          color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003199}}
        #search .bar ul li a:hover {
          color: #ff0000;
          background-color: #f2f2f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003208}}
#slider {
  height: 330px;
  margin-bottom: 10px;
  border: 1px solid black;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003213}}
  #slider .mulu {
    width: 230px;
    height: 360px;
    border: 1px solid black;
    margin-top: -30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003219}}
  #slider .lunbo {
    width: 700px;
    height: 320px;
    margin: 10px 10px 0 10px;
    border: 1px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003225}}
  #slider .ads {
    width: 240px;
    height: 320px;
    border: 1px solid black;
    margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003235}}
#special {
  height: 300px;
  margin-bottom: 30px;
  border: 1px solid black;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003240}}
  #special .sp-left {
    width: 230px;
    height: 300px;
    border: 1px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003245}}
  #special .sp-slid {
    height: 300px;
    flex: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003249}}
  #special .sp-right {
    width: 240px;
    height: 300px;
    border: 1px solid black; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003256}}
.categories {
  height: 610px;
  border: 1px solid black;
  margin-bottom: 30px;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003261}}
  .categories .c-left {
    width: 230px;
    height: 610px;
    border: 1px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003266}}
  .categories .c-right {
    flex: 1;
    border: 1px solid black; }

/*鏍峰紡閲嶇疆-reset*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003281}}
body, h1, h2, h3, p, dl, dd, ul, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003285}}
em, i {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003288}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003291}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003294}}
img {
  border: none;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003298}}
table {
  border-collapse: collapse; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003301}}
input, textarea {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003304}}
textarea {
  resize: none;
  overflow: auto; }

/*# sourceMappingURL=style.css.map */
