@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\000036}}
body {
  font-weight: Regular;
  font-family: PingFang-SC;
  background-color: #f2f2f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000312}}
.wrapper {
  width: 1190px;
  margin: 0 auto;
  background-color: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000319}}
#header {
  height: 30px;
  font-size: 12px;
  text-align: center;
  line-height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000324}}
  #header .h-left {
    float: left;
    padding-left: 0;
    color: #666666; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000328}}
    #header .h-left a {
      color: #666666;
      padding-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000332}}
    #header .h-left .active {
      color: #e62d2d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000336}}
  #header .h-right {
    float: right;
    padding-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000339}}
    #header .h-right ul {
      letter-spacing: -8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000342}}
    #header .h-right li {
      display: inline-block;
      letter-spacing: normal;
      padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000346}}
      #header .h-right li a {
        color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000355}}
#search {
  height: 150px;
  background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000358}}
  #search .box {
    height: 150px;
    width: 1190px;
    margin: 0 auto;
    margin-bottom: -25px;
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000364}}
    #search .box .logo {
      width: 193px;
      height: 76px;
      margin-top: 20px;
      display: flex;
      align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000370}}
      #search .box .logo .logo-img {
        width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000372}}
        #search .box .logo .logo-img img {
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000376}}
      #search .box .logo .logo-font {
        width: 103px;
        height: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000379}}
        #search .box .logo .logo-font img {
          display: block;
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000387}}
    #search .box .form {
      width: 550px;
      height: 40px;
      border: 2px solid #e62d2d;
      margin-left: 97px;
      margin-top: 47px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\0000394}}
    #search .box .cart {
      margin-left: 50px;
      margin-top: 47px;
      width: 150px;
      height: 40px;
      border: 1px solid rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003101}}
    #search .box .img {
      width: 70px;
      height: 70px;
      border: 1px solid black;
      margin-top: 31px;
      margin-left: 56px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003109}}
  #search .bar {
    width: 1190px;
    padding-left: 230px;
    padding-right: 256px;
    height: 20px;
    line-height: 20px;
    font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003117}}
    #search .bar ul {
      letter-spacing: -8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003119}}
      #search .bar ul li {
        letter-spacing: normal;
        display: inline-block;
        padding-left: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003123}}
        #search .bar ul li a {
          color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003126}}
        #search .bar ul li a:hover {
          color: #ff0000;
          background-color: #f2f2f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003137}}
#slider {
  height: 330px;
  margin-bottom: 10px;
  border: 1px solid black;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003142}}
  #slider .mulu {
    width: 230px;
    height: 360px;
    border: 1px solid black;
    margin-top: -30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003148}}
  #slider .lunbo {
    width: 700px;
    height: 320px;
    margin: 10px 10px 0 10px;
    border: 1px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003154}}
  #slider .ads {
    width: 240px;
    height: 320px;
    border: 1px solid black;
    margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003164}}
#special {
  height: 300px;
  margin-bottom: 30px;
  border: 1px solid black;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003169}}
  #special .sp-left {
    width: 230px;
    height: 300px;
    border: 1px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003174}}
  #special .sp-slid {
    height: 300px;
    flex: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003178}}
  #special .sp-right {
    width: 240px;
    height: 300px;
    border: 1px solid black; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003185}}
.categories {
  height: 610px;
  border: 1px solid black;
  margin-bottom: 30px;
  display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003190}}
  .categories .c-left {
    width: 230px;
    height: 610px;
    border: 1px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003195}}
  .categories .c-right {
    flex: 1;
    border: 1px solid black; }

/*鏍峰紡閲嶇疆-reset*/
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003210}}
body, h1, h2, h3, p, dl, dd, ul, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003214}}
em {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003217}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003220}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003223}}
img {
  border: none;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003227}}
table {
  border-collapse: collapse; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003230}}
input, textarea {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/yunpc\/sass\/style\.scss}line{font-family:\00003233}}
textarea {
  resize: none;
  overflow: auto; }

/*# sourceMappingURL=style.css.map */
